{% extends "layout.html" %}
{% block content %}
    {% for user in users.items %}
        <article class="media content-section">
          <img class="rounded-circle article-img" src="{{url_for('static',filename='pics/' + user.image )}}" >
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="#">{{ user.username}}</a>
            </div>
            <h2><a class="article-title" href="{{url_for('users.user',user_id=user.id) }}">{{ user.email }}</a></h2>
          </div>
        </article>
    {% endfor %}

    {% for page_num in users.iter_pages(left_edge=1,right_edge=1,left_current=2,right_current=2) %}
    {% if page_num %}
      {% if users.page == page_num %}
       <a class="btn btn-info mb4" href="{{url_for('main.list_user',page=page_num)}}">{{ page_num }}</a>
      {% else %}
        <a class="btn btn-outline-info mb4" href="{{url_for('main.list_user',page=page_num)}}">{{ page_num }}</a>
      {% endif %}  
    {% else %}
     ...

    {% endif%} 
    {% endfor %}


{% endblock content %}